@import './var.less';

:root {
  --el-menu-bg-color: @primary-bg;
  --el-menu-hover-bg-color: @primary-hover-bg;
  --el-menu-active-color: black;

  --el-menu-item-height: 36px;
  --el-button-text-color: gray;
}

.el-message {
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
  background: #000;
  color: #fafafa;
}
